.nav {
  display: flex;
  gap: 24px;
  justify-content: center;
  text-align: center;
}
.navLink {
  position: absolute;
  padding: 0;
  left: 16px;
  line-height: 16px;
  height: 16px;

  display: inline-block;
  box-sizing: border-box;
}
.link {
  color: rgb(16, 24, 40);

  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
}

.link:hover {
  color: rgb(216, 67, 67);
}

.active {
  color: rgb(216, 67, 67);
}
.container {
  background: rgb(247, 247, 247);
  position: relative;
  height: 24px;
  display: flex;
  justify-content: end;
  flex-direction: row;
  align-items: center;
  padding: 15px 16px 15px 16px;
}
.icon {
  width: 136px;
  height: 16px;
}
@media screen and (min-width: 320px) and (max-width: 374px) {
}
@media screen and (min-width: 375px) {
}
@media screen and (min-width: 768px) {
  .navLink {
    left: 27px;
  }
  .container {
    padding: 20px 27px 20px 27px;
  }
  .link {
    font-size: 20px;
  }
}
@media screen and (min-width: 1440px) {
  .navLink {
    left: 64px;
  }
  .container {
    margin: 0 auto;
    padding: 24px 64px 24px 64px;
    justify-content: center;
  }
}
