.nav {
    display: flex;
    gap:24px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
  }
  .link {
    color: rgb(16, 24, 40);
   
  }
  
  .link:hover {
    color: rgb(216, 67, 67);
  }
  
  .active {
    color: rgb(216, 67, 67);
  }
  .container{
width: 100%;
height: 24px;
display: flex;
gap:450px;
justify-content: flex-start;
flex-direction: row;
align-items: center;
padding: 24px 64px 24px 64px;
  }
.icon{
    width: 136px;
    height: 16px;
   
}